{
    "version": "0.2.0",
    "configurations": [
        {
            "name": "{{PROJECT_NAME}} - Quick Test",
            "type": "debugpy",
            "request": "launch",
            "stopOnEntry": false,
            "python": "python",
            "program": "/home/wolverine/bin/running/calculator3_test.py",
            "args": [
                "--testcase", "${workspaceFolder}/",
                "--algoname", "{{PROJECT_NAME}}",
                "--sourcefile", "{{PROJECT_NAME}}.py",
                "--start", "20250703203204",
                "--end", "20250710203204",
                "--granularity", "{{GRANULARITY}}",
                "--tm", "wss://10.99.100.116:4433/tm",
                "--tm-master", "10.99.100.116:6102",
                "--rails", "https://10.99.100.116:4433/private-api/",
                "--token", "{{API_TOKEN}}",
                "--category", "{{CATEGORY}}",
                "--is-managed", "1",
                "--restore-length", "864000000",
                "--multiproc", "1"
            ],
            "cwd": "${workspaceFolder}",
            "envFile": "~/.env",
            "env": {
                "PYTHONPATH": "/home/wolverine/bin/running:${env:PYTHONPATH}"
            },
            "console": "integratedTerminal"
        },
        {
            "name": "{{PROJECT_NAME}} - Full Backtest",
            "type": "debugpy",
            "request": "launch",
            "stopOnEntry": false,
            "python": "python",
            "program": "/home/wolverine/bin/running/calculator3_test.py",
            "args": [
                "--testcase", "${workspaceFolder}/",
                "--algoname", "{{PROJECT_NAME}}",
                "--sourcefile", "{{PROJECT_NAME}}.py",
                "--start", "20230101000000",
                "--end", "20250131000000",
                "--granularity", "{{GRANULARITY}}",
                "--tm", "wss://10.99.100.116:4433/tm",
                "--tm-master", "10.99.100.116:6102",
                "--rails", "https://10.99.100.116:4433/private-api/",
                "--token", "{{API_TOKEN}}",
                "--category", "{{CATEGORY}}",
                "--is-managed", "1",
                "--restore-length", "864000000",
                "--multiproc", "1"
            ],
            "cwd": "${workspaceFolder}",
            "envFile": "~/.env",
            "env": {
                "PYTHONPATH": "/home/wolverine/bin/running:${env:PYTHONPATH}"
            },
            "console": "integratedTerminal"
        },
        {
            "name": "{{PROJECT_NAME}} - Test Resuming Mode",
            "type": "debugpy",
            "request": "launch",
            "stopOnEntry": false,
            "python": "python",
            "program": "${workspaceFolder}/test_resuming_mode.py",
            "args": [],
            "cwd": "${workspaceFolder}",
            "envFile": "~/.env",
            "env": {
                "PYTHONPATH": "/home/wolverine/bin/running:${env:PYTHONPATH}"
            },
            "console": "integratedTerminal"
        }
    ]
}
